* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0b4d14;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .menu li:hover {
    background-color: #fff;
    color: #0b4d14;
  }
  
  .content {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
  }
  
  .content h1 {
    color: #c6bfbf;
  }
  
  .content ul {
    list-style: disc;
    padding: 0;
    margin: 20px 0;
    text-align: left;
  }
  
  .content li {
    margin-bottom: 10px;
  }
  
  .footer {

  }
  .footer a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }